body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff; /* Light blue background */
    margin: 0;
    padding: 0;
}

h3 {
    font-weight: normal;
}

.container {
    width: 100%;        /* Adjust to use full width on smaller screens */
    max-width: 384px;   /* Maximum width set to 384px for larger screens */
    min-width: 380px;
    margin: 0 auto;     /* Center the container */
    padding: 20px;
    color: #333;
}

.input-section input,
.input-section select,
.input-section button {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.input-section button {
    cursor: pointer;
    background-color: #4CAF50; /* Green buttons */
    color: white;
}

.lists {
    margin-top: 20px;
}

.list {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}

.list h2 {
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: underline;

}

.list h3 {
    text-align: center;
}

.list-item {
    border-bottom: 1px solid #eee;
    padding: 5px;
}

.list-item:last-child {
    border-bottom: none;
}

.remove-item {
    color: red;
    cursor: pointer;
    float: right;
}

#quantity {
    width: 50px;
}

#delete-list {
    background-color: red;
}

.tax-applied {
    color: blue;
}

.sales-tax-text {
    color: blue;
}

.tooltip {
    display: none;
    position: absolute;
    width: 220px;
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    z-index: 1;
    top: 20%; 
    left: 70%;
    transform: translateX(-50%);
}

/* Additional styling for visibility */
.sales-tax-text:hover + .tooltip, .tooltip:hover {
    display: block;
}

#list-select.highlight-required {
    border: 2px solid red !important;
}


@media screen and (max-width: 600px) {
    .container {
        width: 100%;
    }
    .input-section, .lists {
        flex-direction: column;
    }
}