/* Apply box-sizing to all elements */
* {
    box-sizing: border-box;
}

body, html {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

/* Hide spinners for number inputs */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none; /* For WebKit browsers like Chrome and Safari */
    margin: 0; /* For some WebKit browsers */
}

/* Style for all input fields */
input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

/* Tab buttons and content styling */
.tab {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #ccc;
    margin: 0;
}

.tab button {
    background-color: #f1f1f1;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    margin-right: 2px;
}

.tab button:nth-child(1) { background-color: #dae8fc; }
.tab button:nth-child(2) { background-color: #e1d5e7; }
.tab button:hover { background-color: #ddd; }
.tab button.active { background-color: #ccc; }

.tabcontent {
    display: none;
    padding: 20px;
    max-width: 800px; /* Max width for the content area */
    margin: auto;
}

.tabcontent.active { display: block; }


.calcHistory {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

/* Button styling */
button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover { background-color: #0056b3; }

/* Results and small text styling */
#results, #GasPrices p {
    margin-top: 20px;
}

small {
    display: block;
    margin-top: -10px;
    margin-bottom: 10px;
    color: #555;
    font-size: 0.8em;
}


.clear-history-btn {
    background-color: #f44336; /* Example: Red background */
    color: white; /* White text color */
    /* Other styling to match your buttons, like padding, border, etc. */
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px; /* Space above the button */
}

.clear-history-btn:hover {
    background-color: #d32f2f; /* Darker red on hover */
}


.history-entry {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
}

.delete-history-btn {
    background-color: #fff;
    border: 1px solid #ccc;
    color: red;
    cursor: pointer;
    font-weight: bold;
    font-size: 0.8em;
    padding: 2px 5px;
    margin-right: 5px;
    flex-shrink: 0; /* Prevent the button from shrinking */
    flex-basis: 5%; /* Button width */
}

.history-main-content {
    display: flex;
    align-items: center;
    width: 100%;
}

.history-content {
    flex-grow: 1; /* Allow content to fill the remaining space */
    margin-left: 5px; /* Optional: adds some space between button and text */
}

.history-date {
    display: block;
    font-size: 0.8em;
    text-align: right;
    color: #555;
    margin-top: 5px;
    width: 100%; /* Ensure it takes the full width for right alignment */
}

.history-item-name, .history-cad-price {
    font-weight: bold; /* Bold for item name and CAD price */
}


.delete-history-btn {
    background-color: #fff;
    border: 1px solid #ccc;
    color: red;
    cursor: pointer;
    font-weight: bold;
    font-size: 0.8em;
    padding: 2px 5px;
    margin-right: 5px;
    align-self: flex-start; /* Align to the top left */
}


/* Responsive Design */
@media (max-width: 600px) {
    body, .tabcontent {
        padding: 10px;
    }
}
